.save-layout-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.quick-link-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.quick-link-item:hover {
  background: var(--primary-accent-color);
}

.public-view-header{
  background: var(--primary-bg-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  position: fixed;
  width:100%;
  z-index: 1000;
}
