.md-wrapper {
  color: var(--primary-color);
  height: 100vh;
  overflow-y: auto;
  h2 {
    font-weight: 700;
    margin-top: 20px;
    text-decoration: underline;
  }
  p {
    font-size: 14px;
  }
  a {
    font-weight: 600;
    width: 115px;
    display: inline-block;
  }
}
