.save-layout-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--primary-bg-color);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
