.org-item-container {
  padding: 20px;
  border: solid 1px var(--primary-accent-color);
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  box-shadow: 2px 5px 5px var(--secondary-bg-color);
  border-radius: 15px;
}

.org-item-container:hover {
  background: var(--primary-accent-color);
}
