.base-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  outline: none;
  box-shadow: none;
}

.base-input:focus {
  border-color: black;
  box-shadow: 0 0 0 4px rgba(39, 110, 241, 0.1);
}

.base-input::placeholder {
  color: #999;
}

.base-input:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.base-input.error {
  border-color: #e53e3e;
}

.base-input.error:focus {
  border-color: #e53e3e;
  box-shadow: 0 0 0 4px rgba(229, 62, 62, 0.1);
}

/* Buttons */

.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  outline: none;
}

.base-button:hover {
  background-color: black;
}

.base-button:focus {
  /* box-shadow: 0 0 0 4px rgba(39, 110, 241, 0.3); */
}

.base-button:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.base-button.primary {
  background-color: black;
  color: #fff;
}

.base-button.primary:hover {
  background-color: #333333;
}

.base-button.secondary {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.base-button.secondary:hover {
  background-color: #f0f4ff;
}

/* Formm group and labels */

.form-group label {
  font-weight: 700;
}

.form-group {
  padding-top: 20px;
}

.btn-group {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: space-between;
}

/* Checkbox */

.base-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  margin-left: 20px;
}

.base-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.base-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.base-checkbox:hover {
  background-color: #e6f2ff;
}

.base-checkbox:checked:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Select */

.base-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #495057;
  outline: none;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  height: 45px;
}

.base-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.base-select:hover {
  border-color: #007bff;
}

.base-select option {
  padding: 8px;
  background-color: #fff;
  color: #495057;
}
